.leaflet-container {
    height: 90vh;
    width: 100%;
}

/* .leaflet-popup-content-wrapper,
.leaflet-popup-tip {
    minWidth: 140px;
    border-radius: 5px;
    border: 2.5px solid #000;
    background-color: #F9EAE1 !important;
} */

.container-inputs {
    margin-top: 30px;
}

.inputs {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.text-inputs {
    width: 400px;
    min-width: 50px
}